:root {
    --header-font: "Barlow", sans-serif;
    --font: "Source Sans Pro", sans-serif;
    --dark-blue: #1C2541;
    --light-blue: #51a4b9;
    --beige: #c0d7cc;
    --whiteish: #eff8f3;
    --button-hover: #469fb5;

}

body {
    background-color: var(--beige);
}

h1 {
    font-family: var(--header-font);
    color: var(--whiteish);
}

h2, h3 {
    font-family: var(--header-font);
    color: var(--dark-blue);
}

input, p {
    font-family: var(--font);
    color: var(--dark-blue);
    font-size: large;
}

button {
    font-family: var(--font);
    color: var(--beige) !important;
    background-color: var(--light-blue) !important;
}

button:hover {
    background-color: var(--button-hover) !important;
}

header .container-fluid {
    background: linear-gradient(90deg, var(--dark-blue), var(--light-blue));
}

.border-bottom {
    border-color: var(--dark-blue) !important;
}

.forecast-card {
    background-color: var(--light-blue);
}

#current {
    background-color: var(--light-blue);

}

@media (max-width: 768px) {
    .forecast-card {
      margin-top: 1rem;
    }
    #current * :not(#city-name){
        font-size: large !important;
    }
  }